<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- bean definitions here -->
    <bean id="actor" class="com.stackroute.domain.Actor">
        <constructor-arg type="String" value="Vijay"></constructor-arg>
        <constructor-arg type="String" value="male"></constructor-arg>
        <constructor-arg type="int" value="22"></constructor-arg>
    </bean>
    <bean id="movie" class="com.stackroute.domain.Movie">
        <property name="movieName" value="Vijay"></property>
        <property name="actor" ref="actor"></property>
    </bean>
</beans>