<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- bean definitions here -->
    <bean id="actor1" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="NTR"></constructor-arg>
        <constructor-arg name="gender" value="male"></constructor-arg>
        <constructor-arg name="age" value="30"></constructor-arg>

    </bean>

    <bean id="actor2" class="com.stackroute.domain.Actor">
        <constructor-arg index="0" value="NBK"></constructor-arg>
        <constructor-arg index="1" value="male"></constructor-arg>
        <constructor-arg index="2" value="59"></constructor-arg>

    </bean>

    <bean id="actor3" class="com.stackroute.domain.Actor">
        <constructor-arg type="String" value="Prabhas"></constructor-arg>
        <constructor-arg type="String" value="male"></constructor-arg>
        <constructor-arg type="int" value="32"></constructor-arg>

    </bean>

    <bean id="movie1" class="com.stackroute.domain.Movie" scope="prototype">
        <property name="actor1" ref="actor1"></property>

    </bean>

    <bean id="movie2" class="com.stackroute.domain.Movie" scope="prototype">
        <property name="actor2" ref="actor2"></property>

    </bean>

</beans>